<header>
    <nav class="justify-content-between">
        <div class="logo-title">
            <a href="/" class="logo-link">
                <img src="/images/logo.png" alt="SAMP Hub Logo" class="logo-image">
            </a>
            <span class="site-title">SAMP HUB</span>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li> 
            <li><a href="/contact">Contact</a></li> 
        </ul>
    </nav>
</header>
