<header>
    <nav class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center logo-title">
            <a href="/" class="logo-link">
                <img src="/images/logo.png" alt="SAMP Hub Logo" class="logo-image">
            </a>
            <span class="site-title">SAMP Hub</span>
        </div>
        <ul class="nav-links d-flex justify-content-center">
            <li><a href="/">Home</a></li>
            <li><a href="/views/about.ejs">About</a></li>
            <li><a href="/views/contact.ejs">Contact</a></li>
        </ul>
    </nav>
</header>
