body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #474747;
    background-size: cover;
    min-height: 100vh; 
}

header {
    background: #FEAA63;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: relative;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
}

.content {
    padding: 20px;
    background: #0a0a0a;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: #FEAA63; 
    color: #000; 
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-weight: bold; 
    font-size: 16px;
}

.compact-form {
    width: 50%; 
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}

.form-input, .form-textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    max-width: 100%;
    resize: none; 
}

.form-textarea {
    height: 150px; 
}

.form-button {
    width: 100%;
    background-color: #ff7b54;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #ff5a32;
}

.compact-list {
    margin-top: 30px;
}

.compact-card {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%; 
    margin: 10px auto; 
}

.post-title {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333; 
    text-align: left;  
    position: relative; 
    top: 0;            
    left: 0;      
}

.post-list {
    max-width: 700px; 
    margin: 20px auto;
}

.post-content {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.post-actions {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}

.centered-actions {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.button-container {
    display: flex;
    justify-content: space-between;  
    gap: 10px;  
    width: 100%;  
}

.action-button {
    background-color: #007bff;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.delete-button {
    background-color: #dc3545;
}

.action-button, .delete-button {
    margin-right: 10px; 
    flex: 1; 
}

.action-button:hover, .delete-button:hover {
    opacity: 0.8;
}

.main-title {
    font-size: 36px;
    color: #fff;
    text-align: center;
}

.intro-text {
    font-size: 18px;
    color: #f0f0f0;
    text-align: center;
}

.section-title {
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.cancel-button {
    width: 100%;
    background-color: hsl(138, 84%, 49%);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.cancel-button:hover {
    background-color: hsl(138, 84%, 45%);
    text-decoration: none;
}


/* Mobile adjustments */
@media (max-width: 768px) {
    .compact-form {
        width: 90%;
    }

    .post-card {
        padding: 10px;
    }

    .post-title {
        font-size: 20px;
    }

    .post-content {
        font-size: 14px;
    }

    .form-button, .action-button, .delete-button, .cancel-button {
        font-size: 14px;
    }
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    padding: 15px; 
    margin-bottom: 15px; 
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative; 
}

li h3 {
    margin: 0 0 5px;
    color: #000;
}

li p {
    margin: 0;
    color: #000;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 80px;
    height: 60px;
    margin-right: 10px;
}

.site-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.overlay-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
}

/* --- NAVBAR --- */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    position: relative;
    /* font-family: 'Roboto', sans-serif; 
    background-color: transparent; */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li {
    background-color: transparent; 
    padding: 0; 
    margin: 0;  
    border: none; 
}

.nav-links li a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px; 
    transition: background-color 0.3s, transform 0.2s ease-in-out; 
    background-color: #fff; 
    color: #333; 
    font-size: 16px; 
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.nav-links li a:hover {
    background-color: #FEAA63; 
    color: #fff; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

/* --- CONTACT PAGE --- */

.contact-section {
    text-align: center;
    margin-top: 50px;
}

.social-links a {
    color: #333;
    font-size: 2em;
    margin: 0 15px;
    text-decoration: none;
}

.social-links a:hover {
    color: #007bff; 
}

.social-links i {
    transition: color 0.3s ease;
}

.contact-section h1 {
    font-family: 'Arial', sans-serif; 
    font-size: 48px; 
}

.contact-section p {
    font-size: 20px; 
    margin: 10px 0; 
}


.contact-section {
    position: relative;
    color: white;
    text-align: center;
    padding: 20px;
}

/* --- ABOUT PAGE --- */

.about-background, .home-background, .contact-background {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    background-image: url('/images/background_image1.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
}


.about-content, .home-content {
    position: relative;
    color: white;
    text-align: center;
    padding: 20px;
}

.about-content h1 {
    font-size: 48px;
    font-family: 'Arial', sans-serif; 
    margin-bottom: 20px;
}

.about-content p {
    font-size: 24px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}
